# {{ ansible_managed }}

{% for key, part in item.value | dictsort('key')  %}
{%   if part.content is defined %}
{{ part.content }}
{%   else %}
{%     if part.chain is defined %}
domain ({{ part.domains | default([ "ip" ]) | join(" ") }}) table {{ part.table | default('filter') }} {
{%       if part.chain is not string and part.chain is not mapping and part.chain is iterable %}
  chain ({{ part.chain | join(" ") }}) {
{%       else %}
  chain {{ part.chain }} {
{%       endif %}
{%       for rule in part.rules | default([]) %}
{%         if rule.comment is defined %}
    # {{rule.comment}}
{%         endif %}
{%         set r = rule.rule | regex_replace(';*$', '') %}
    {{ r }}{% if not r.endswith('}') %};{% endif %}


{%       endfor %}
  }
}
{%     endif %}
{%   endif %}

{% endfor %}
